@page "/{Page:int?}"
<h3>DummyPage @Page</h3>

<MudButton OnClick="ShareText">Share</MudButton>

@code {

    [Parameter]
    public int? Page { get; set; }


    public async Task ShareText() {
        await Share.RequestAsync(new ShareTextRequest {
                Text = "text",
                Title = "Share Text"
            });
    }

}